body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 15px;
  }
  
  nav ul li a {
    color: #333 !important;  /* Make the color dark and force it with !important */
    text-decoration: none;   /* Make sure there are no underlines */
}
  
  main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }  

  i {
    margin-right: 8px;  /* Add some space after the icon */
    color: #333;        /* Default icon color */
  }
  
  i.fab {
    color: #0077b5;     /* LinkedIn blue */
  }
  
  i.fa-github {
    color: #333;        /* GitHub icon color */
  }
  